
    <div class="container">
        <div class="general mt-4">
            <div class="row d-block justify-content-center rounded-3" style="background-color: white;">

                <div class="col col-lg-12 col-12 text-center p-2">
                    <h4 class="mt-3 mb-3">Tienes mucho más que una página web</h4>
                </div>

                <div class="col col-lg-12 ">
                    <div class="row d-flex justify-content-evenly">

                        <div class="col col-lg-4 col-md-6 col-12">
                            <div class="pedidos border rounded-3 p-2 m-1 opgene">
                                <div class="row d-block justify-content-center">
                                    <div class="col col-lg-12 mb-2">
                                        <div class="row d-flex justify-content-center mt-1">
                                            <div class="col col-lg-1 col-md-1 col-1 text-start">
                                                <i class="fa-solid fa-house initial-blue"
                                                    style="font-size: 1.2em;"></i>
                                            </div>
                                            <div class="col col-lg-10 col-md-10 col-10">
                                                <span class="initial-blue">INICIO</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="texto col col-lg-11 mb-1 textbac" style="margin-left: 3%;">
                                        Encuentra más de 300 potentes aplicaciones web
                                         para agregar a tu sitio
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-12">
                            <div class="pedidos border rounded-3 p-2 m-1 opgene">
                                <div class="row d-block justify-content-center">
                                    <div class="col col-lg-12 mb-2">
                                        <div class="row d-flex justify-content-center mt-1">
                                            <div class="col col-lg-1 col-md-1 col-1 text-start">
                                                <i class="fa-solid fa-bag-shopping initial-blue" style="font-size: 1.2em;"></i>
                                            </div>
                                            <div class="col col-lg-10 col-md-10 col-10">
                                                <span class="initial-blue">PRODUCTOS</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-lg-11 mb-1 textbac" style="margin-left: 3%;">
                                        Encuentra más de 300 potentes aplicaciones web
                                         para agregar a tu sitio
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-12">
                            <div class="pedidos border rounded-3 p-2 m-1 opgene">
                                <div class="row d-block justify-content-center">
                                    <div class="col col-lg-12 mb-2">
                                        <div class="row d-flex justify-content-center mt-1">
                                            <div class="col col-lg-1 col-md-1 col-1 text-start">
                                                <i class="fa-regular fa-handshake initial-blue" style="font-size: 1.2em;"></i>
                                            </div>
                                            <div class="col col-lg-10 col-md-10 col-10">
                                                <span class="initial-blue">PEDIDOS</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-lg-11 mb-1 textbac" style="margin-left: 3%;">
                                        Encuentra más de 300 potentes aplicaciones web
                                         para agregar a tu sitio
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-12">
                            <div class="pedidos border rounded-3 p-2 m-1 opgene">
                                <div class="row d-block justify-content-center">
                                    <div class="col col-lg-12 mb-2">
                                        <div class="row d-flex justify-content-center mt-1">
                                            <div class="col col-lg-1 col-md-1 col-1 text-start">
                                                <i class="fa-solid fa-chart-line initial-blue" style="font-size: 1.2em;"></i>
                                            </div>
                                            <div class="col col-lg-10 col-md-10 col-10">
                                                <span class="initial-blue">ANALITICAS</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-lg-11 mb-1 textbac" style="margin-left: 3%;">
                                        Encuentra más de 300 potentes aplicaciones web
                                         para agregar a tu sitio
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-12">
                            <div class="pedidos border rounded-3 p-2 m-1 opgene">
                                <div class="row d-block justify-content-center">
                                    <div class="col col-lg-12 mb-2">
                                        <div class="row d-flex justify-content-center mt-1">
                                            <div class="col col-lg-1 col-md-1 col-1 text-start">
                                                <i class="fa-solid fa-hand-holding-dollar initial-blue" style="font-size: 1.2em;"></i>
                                            </div>
                                            <div class="col col-lg-10 col-md-10 col-10">
                                                <span class="initial-blue">FINANZAS</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-lg-11 mb-1 textbac" style="margin-left: 3%;">
                                        Encuentra más de 300 potentes aplicaciones web
                                         para agregar a tu sitio
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-12">
                            <div class="pedidos border rounded-3 p-2 m-1 opgene">
                                <div class="row d-block justify-content-center">
                                    <div class="col col-lg-12 mb-2">
                                        <div class="row d-flex justify-content-center mt-1">
                                            <div class="col col-lg-1 col-md-1 col-1 text-start">
                                                <i class="fa-solid fa-file-lines initial-blue" style="font-size: 1.2em;"></i>
                                            </div>
                                            <div class="col col-lg-10 col-md-10 col-10">
                                                <span class="initial-blue">REGISTRO DE VENTAS</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-lg-11 mb-1 textbac" style="margin-left: 3%;">
                                        Encuentra más de 300 potentes aplicaciones web
                                         para agregar a tu sitio
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-12">
                            <div class="facebook border rounded-3 p-2 m-1 opgene">
                                <div class="row d-block justify-content-center">
                                    <div class="col col-lg-12 mb-2">
                                        <div class="row d-flex justify-content-center mt-1">
                                            <div class="col col-lg-1 col-md-1 col-1 text-start">
                                                <i class="fa-brands fa-facebook initial-blue" style="font-size: 1.2em;"></i>
                                            </div>
                                            <div class="col col-lg-10 col-md-10 col-10">
                                                <span class="initial-blue">FACEBOOK</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-lg-11 mb-1 textbac" style="margin-left: 3%;">
                                        Encuentra más de 300 potentes aplicaciones web
                                         para agregar a tu sitio
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-12">
                            <div class="whatsapp border rounded-3 p-2 m-1 opgene">
                                <div class="row d-block justify-content-center">
                                    <div class="col col-lg-12 mb-2">
                                        <div class="row d-flex justify-content-center mt-1">
                                            <div class="col col-lg-1 col-md-1 col-1 text-start">
                                                <i class="fa-brands fa-whatsapp initial-green" style="font-size: 1.2em;"></i>
                                            </div>
                                            <div class="col col-lg-10 col-md-10 col-10">
                                                <span class="initial-green">WHATSAPP</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-lg-11 mb-1 textbac" style="margin-left: 3%;">
                                        Encuentra más de 300 potentes aplicaciones web
                                         para agregar a tu sitio
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-12">
                            <div class="instagram border rounded-3 p-2 m-1 opgene">
                                <div class="row d-block justify-content-center">
                                    <div class="col col-lg-12 mb-2">
                                        <div class="row d-flex justify-content-center mt-1">
                                            <div class="col col-lg-1 col-md-1 col-1 text-start">
                                                <i class="fa-brands fa-instagram initial-pink" style="font-size: 1.2em;"></i>
                                            </div>
                                            <div class="col col-lg-10 col-md-10 col-10">
                                                <span class="initial-pink">INSTAGRAM</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-lg-11 mb-1 textbac" style="margin-left: 3%;">
                                        Encuentra más de 300 potentes aplicaciones web
                                         para agregar a tu sitio
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col col-lg-4 col-md-6 mb-3 col-12">
                            <div class="gmail border rounded-3 p-2 m-1 opgene">
                                <div class="row d-block justify-content-center">
                                    <div class="col col-lg-12 mb-2">
                                        <div class="row d-flex justify-content-center mt-1">
                                            <div class="col col-lg-1 col-md-1 col-1 text-start">
                                                <i class="fa-solid fa-at initial-red" style="font-size: 1.2em;"></i>
                                            </div>
                                            <div class="col col-lg-10 col-md-10 col-10">
                                                <span class="initial-red">GMAIL</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-lg-11 mb-1 textbac" style="margin-left: 3%;">
                                        Encuentra más de 300 potentes aplicaciones web
                                         para agregar a tu sitio
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
