<nav class="navbar navbar-expand-lg navbar-light bg-light" style="display: block;">
  <div class="container-fluid">
    <!-- Imagen a la izquierda -->
    <a class="navbar-brand border" href="#" style="margin-left: 2%;">
      <img src="https://cdn.discordapp.com/attachments/1101320258033303752/1101320328384352386/509b1558-49b0-4882-940d-9103650c1a6a.png" alt="Logo">
    </a>

    <!-- Botón del menú colapsable -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Elementos del menú -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Barra de búsqueda -->
      <form class="d-lg-none d-flex mb-3" style="width: 100%; margin-top: 10px;">
        <div class="input-group">
          <span class="input-group-text">
            <i class="bx bx-search"></i>
          </span>
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </div>
      </form>

      



      <form class="d-none d-lg-flex" style="width: 30%;  margin-left: 55%;">
        <div class="input-group">
          <span class="input-group-text">
            <i class="bx bx-search"></i>
          </span>
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </div>
      </form>

      <!-- Iconos del menú -->
      <ul class="navbar-nav ms-auto " style="margin-right: 1.5%; align-items: center;">
        <li class="nav-item">
          <a class="nav-link"  href="#">
            <i class="bx bx-bell icon-large icon-black"></i>
            
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bx bx-envelope icon-large icon-black"></i>
          </a>
        </li>
      </ul>
      
      

      <!-- Icono redondo de perfil -->
      <div class="d-flex align-items-center" style="width: 6%;">
        <img class="rounded-circle" src="https://lh3.googleusercontent.com/a/AAcHTtcOL5SjDyMsm6zgsJHO0cW-IWH7_DTZnUwZbWaJ6A=s231-c-no" alt="Perfil" style="width: 30px; height: 30px;">
      
        <button class="btn dropdown-toggle mx-2" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 1rem;">
          <i class="bx bx-caret-down"></i>
        </button>
      
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
          <li><a class="dropdown-item" href="#">Salir</a></li>
        </ul>
      </div>
      



      
    </div>
  </div>
</nav>
