
<div class="container">
    <div class="general m-2">
        <div class="row d-block justify-content-center">

            <div class="col col-12 col-md-12 col-xs-12 col-sm-12 col-lg-12 mb-1 mt-4 textbac">
                <div class="row d-flex justify-content-between">
                    <div class="col col-lg-4">
                        <h2 class="textbac">Productos</h2>
                    </div>
                    <div class="col col-lg-6 text-end">
                        <div class="row d-flex justify-content-end">
                            <div class="col col-lg-4 ">
                                <select class="form-select form-select-sm rounded-4 text-c text-center">
                                            aria-label="form-select-sm example">
                                            <option selected disabled>Mas acciones</option>
                                            <option value="1">Exportar</option>
                                            <option value="2">Importar</option>
                                            <option value="2">Reordenar</option>
                        </select>
                            </div>
                            <div class="col col-lg-4">
                                <button class="btn btn-primary w-100 btn-sm rounded-5 custom">
                                    <i class="fa-regular fa-plus m-1" style="color: #ffffff;"></i>
                                    Nuevo producto </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-12 col-md-12 col-xs-12 col-sm-12 col-lg-12 mb-4 mt-4">
                <div class=" rounded-top text-center shadow p-2 textbac" style="background-color: #ffffff;">
                    <div class="row d-flex justify-content-between align-items-center mt-1">
                        <div class="col-lg-2 col-md-4 col-sm-5 col-xs-5 col-12 mb-2 ">
                            <select class="form-select form-select-sm rounded-5 text-center lect-fond colorb"
                                aria-label=".form-select-sm example">
                                <option selected>Todos los productos</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-7 col-xs-7 col-12 mb-2">
                            <div class="row d-flex justify-content-center">
                                <div class="col col-lg-4 col-md-5 col-sm-5 col-xs-5 col-5 pt-1">
                                    <button
                                        class="btn btn-ligth btn-sm rounded-5 border border-primary w-100 custom-btn">
                                        <i class="fa-solid fa-filter"></i>
                                        Filtrar</button>
                                </div>
                                <div class="col col-lg-6 col-md-7 col-sm-7 col-xs-7 col-7 pt-1">
                                    <div class="input-group rounded-2">
                                        <span class="input-group-text border-primary custom-btn">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </span>
                                        <input class="form-control form-control-sm border-primary" type="search" placeholder="Buscar" aria-label="Search">
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover rounded-bottom shadow" style="background-color: #ffffff;">

                        <thead class="border border-ligth text-center texttab" style="background-color:#0d6dfd38">
                            <tr class="text-center">
                                <th class="col-1">
                                    <div class="form-check">
                                        <input class="form-check-input border-primary" type="checkbox" value=""
                                            id="checkboxPrincipal">
                                    </div>
                                </th>
                                <th class="col-1">Imagen</th>
                                <th class="col-2">Nombre</th>
                                <th>Codigo</th>
                                <th>Precio</th>
                                <th>Inventario</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody class="text-center textbac" style="cursor: pointer;">
                            <tr >
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input border-primary" type="checkbox" value=""
                                            id="checkboxSecundario">
                                    </div>
                                </td>
                                <td>
                                    <img src="https://cdn-icons-png.flaticon.com/128/6997/6997662.png" alt=""
                                        width="50px" height="50px" class="">
                                </td>
                                <td>Esto es un producto</td>
                                <td>35039482</td>
                                <td>30.00 PEN</td>
                                <td>Disponible</td>
                                <td>
                                    <div class="circle-container justify-content-center">
                                        <div class="circle">
                                            <i class="fa fa-bullhorn"></i>
                                        </div>
                                        <div class="circle">
                                            <i class="fa fa-eye"></i>
                                        </div>
                                        <div class="circle">
                                            <i class="fa fa-bars"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input border-primary" type="checkbox" value=""
                                            id="checkboxPrincipal">
                                    </div>
                                </td>
                                <td>
                                    <img src="https://cdn-icons-png.flaticon.com/128/6997/6997662.png" alt=""
                                        width="50px" height="50px" class="">
                                </td>
                                <td>Esto es un producto</td>
                                <td>35039482</td>
                                <td>10.00 PEN</td>
                                <td>Agotado</td>
                                <td>
                                    <div class="circle-container justify-content-center">
                                        <div class="circle">
                                            <i class="fa fa-bullhorn"></i>
                                        </div>
                                        <div class="circle">
                                            <i class="fa fa-eye"></i>
                                        </div>
                                        <div class="circle">
                                            <i class="fa fa-bars"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input border-primary" type="checkbox" value=""
                                            id="checkboxPrincipal">
                                    </div>
                                </td>
                                <td>
                                    <img src="https://cdn-icons-png.flaticon.com/128/6997/6997662.png" alt=""
                                        width="50px" height="50px" class="">
                                </td>
                                <td>Esto es un producto</td>
                                <td>35039482</td>
                                <td>23.00 PEN</td>
                                <td>Agotado</td>
                                <td>
                                    <div class="circle-container justify-content-center">
                                        <div class="circle">
                                            <i class="fa fa-bullhorn"></i>
                                        </div>
                                        <div class="circle">
                                            <i class="fa fa-eye"></i>
                                        </div>
                                        <div class="circle">
                                            <i class="fa fa-bars"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input border-primary" type="checkbox" value=""
                                            id="checkboxPrincipal">
                                    </div>
                                </td>
                                <td>
                                    <img src="https://cdn-icons-png.flaticon.com/128/6997/6997662.png" alt=""
                                        width="50px" height="50px" class="">
                                </td>
                                <td>Esto es un producto</td>
                                <td>35039482</td>
                                <td>23.00 PEN</td>
                                <td>Agotado</td>
                                <td>
                                    <div class="circle-container justify-content-center">
                                        <div class="circle">
                                            <i class="fa fa-bullhorn"></i>
                                        </div>
                                        <div class="circle">
                                            <i class="fa fa-eye"></i>
                                        </div>
                                        <div class="circle">
                                            <i class="fa fa-bars"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>