
    <div class="general m-2">

        <div class="row d-block justify-content-center mt-4">
            <div class="col col-lg-12 ">
                <div class="row d-flex justify-content-lg-around justify-content-start">
                    <div class="col col-lg-4 col-12 mb-2">
                        <div class="form-group">
                            <input type="text" placeholder="Categoría sin titulo" class="form-control input-linea input-no-fondo"
                                id="nombre">
                        </div>
                    </div>
                    <div class="col col-lg-4 col-12">
                        <div class="row d-flex justify-content-evenly">
                            <div class="col col-lg-9 text-end">
                                <button class="btn btn-ligth rounded-3 botarrb-btn">
                                    Cancelar</button>
                            </div>
                            <div class="col col-lg-3 text-start">
                                <button class="btn btn-ligth rounded-3 botarrb-btn">
                                    Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">

            <div class="col col-12 col-md-12 col-xs-12 col-sm-12 col-lg-7 mb-1 mt-3">
                <div class="row d-block justify-content-center">

                    <div class="col col-lg-12 p-4 mb-2 mt-2 rounded-3"
                        style="background-color: rgb(255, 255, 255);">
                        <h5>Información de la categoria</h5>
                        <hr>
                        <div class="row d-flex justify-content-center textbac">

                            <div class="col col-lg-6">
                                <div class="row d-block justify-content-center">
                                    <div class="col col-lg-12 mb-3">
                                        <div class="row d-block justify-content-center">
                                            <div class="col">
                                                <span>Nombre de la categoría</span>
                                            </div>
                                            <div class="col">
                                                <input type="text"
                                                    class="form-control form-control-sm rounded-3 mt-2 colorb"
                                                    placeholder="" aria-label="nombre"
                                                    aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-lg-12 ">
                                        <div class="row d-block justify-content-center">
                                            <div class="col">
                                                <span>Descripción del encabezado</span>
                                            </div>
                                            <div class="col">
                                                <div class="form">
                                                    <textarea
                                                        class="form-control form-control-sm rounded-3 mt-2 colorb"
                                                        placeholder="Cuéntales a tus clientes de qué se trata   esta categoría en pocas palabras"
                                                        id="floatingTextarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col col-lg-6 ">
                                <div class="row d-block justify-content-center">
                                    <div class="col col-lg-12 mb-2">
                                        <span>Imagen de la categoría</span>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex align-items-center justify-content-center rounded-3 custom-div bord"
                                            onclick="document.getElementById('fileInput').click()">
                                            <i class="fa-solid fa-plus fa-2x" style="color: #144e8b;"></i>
                                            <input type="file" id="fileInput" class="d-none">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col col-lg-12 p-4 mb-2 mt-2 rounded-3"
                        style="background-color: rgb(255, 255, 255);">
                        <h5>Productos en la categoria</h5>
                        <hr>
                        <div class="row d-block justify-content-center">
                            <div class="col col-lg-12 text-center">
                                <h5 style="font-weight: normal;">Comienza agregando productos a tu categoría</h5>
                            </div>
                            <div class="col col-lg-12 text-center">
                                <p style="font-style: italic; font-weight: 300;">Crea una nueva categoría para
                                    mostrar en tu sitio.</p>
                            </div>
                            <div class="col col-lg-12 text-center">
                                <button class="btn btn-ligth btn-sm rounded-3 custom-btn">
                                    <i class="fa-regular fa-plus m-1"></i>
                                    Agregar opciones </button>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

            <div class="col col-12 col-md-12 col-xs-12 col-sm-12 col-lg-3 mb-4 mt-3">
                <div class="row d-block justify-content-center">

                    <div class="col col-lg-12 rounded-3 p-4 m-2 textbac"
                        style="background-color: rgb(255, 255, 255);">
                        <div class="form-check form-switch">
                            <input class="form-check-input pointr" type="checkbox" role="switch"
                                id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Activa en tu sitio</label>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

