<nav class="sidebar" style="margin: 0;">
  <div class="container-fluid">

  
    <ul class="menu-links">
      <li class="nav-link">
        <a href="#">
          <i class="bx bx-home-alt"></i>
          <span class="text">Inicio</span>
        </a>
      </li>
      <li class="nav-link">
        <a data-bs-toggle="collapse" href="#productosCollapse" role="button" aria-expanded="false" aria-controls="productosCollapse">
          <i class="bx bx-category icon"></i>
          Productos
          <i class="bx bxs-chevron-down toggle-icon"></i>
        </a>
        <div class="collapse" id="productosCollapse">
          <ul class="submenu-links">
            <li><a href="#">Inventario</a></li>
            <li><a href="#">Categoría</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-link">
        <a href="#">
          <i class="bx bx-receipt"></i>
          <span class="text">Pedidos</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#">
          <i class="bx bx-bar-chart-alt"></i>
          <span class="text">Analíticas</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#">
          <i class="bx bx-money"></i>
          <span class="text">Finanzas</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#">
          <i class="bx bx-shopping-bag"></i>
          <span class="text">Registro de Ventas</span>
        </a>
      </li>
    </ul>
  </div>
  </nav>
  